// Переменные для цвета ------------------------------------------------------------------------------------------------
$blue: #0097F4;
$blue-hover: #22a2f6;
$green: #00BF96;
$green-hover: #03eabb;
$white: #fff;
$black: #000;
$grey: #2E3951;
$grey-2: #9EA1B3;

$text-blue: $blue;
$text-blue-hover: $blue-hover;
$text-green: $green;
$text-green-hover: $green-hover;
$text-white: $white;
$text-black: $black;
$text-grey: $grey;
$text-grey-2: $grey-2;

$border-blue: $blue;
$border-blue-hover: $blue-hover;
$border-green: $green;
$border-green-hover: $green-hover;
$border-white: $white;
$border-black: $black;
$border-grey: $grey;
$border-grey-2: $grey-2;

$background-blue: $blue;
$background-blue-hover: $blue-hover;
$background-green: $green;
$background-green-hover: $green-hover;
$background-white: $white;
$background-black: $black;
$background-grey: $grey;
$background-grey-2: $grey-2;

$time: 500ms;

$font-text: 'Gotham Pro', Arial, Helvetica, sans-serif;
$font-text-2: 'Open Sans', Arial, Helvetica, sans-serif;